<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DriverSafetyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name2"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriverSafety"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">

        <activity
            android:name=".ui.language.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.dashboard.DialogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name=".ui.ring.RingLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ring.QolResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ring.RingQOLActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ring.RingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.camerapulserate.PulseOnGraphActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.camerapulserate.PulseFromCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.finaljudgement.RegistrationCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.finaljudgement.FinalJudgementActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.physicalcondition.ReflexTestActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.physicalcondition.DataConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.notifications.NotificationDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.prevoiusdata.PreviousDataDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profile.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.signup.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.language.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".ui.language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_round" />

        <service
            android:name=".utils.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.stepcount.StepDetectorService"
            android:label="@string/app_name" />

          <activity
              android:name=".ui.physicalcondition.PermissionsRationaleActivity"
              android:exported="true">
              <intent-filter>
                  <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
              </intent-filter>
          </activity>

          <activity-alias
              android:name="ViewPermissionUsageActivity"
              android:exported="true"
              android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
              android:targetActivity=".ui.physicalcondition.PermissionsRationaleActivity">
              <intent-filter>
                  <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                  <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
              </intent-filter>
          </activity-alias>
    </application>

    <!-- Check if Health Connect is installed -->
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.WRITE_STEPS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />



</manifest>